.textCenter {
    padding-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.backgroundColor {
    background-color: #474747;
}

.img {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    height: 110px;
    object-fit: cover;
}