.textCenter {
    padding-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.backgroundColor {
    background-color: #d5ccba;
}

.img {
    display: block;
    margin: auto;
    width: 30%;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 2px;
    object-fit: cover;
}