.box {
    width: 40%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(10, 10, 10);
    align-items: center;
    border-radius: 10px;
    
}
.textCenter {
    text-align: center;
    color: white;
}