.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
}

.backgroundColor {
  background-color: rgb(199, 199, 199);
}

.searchBar {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.searchBar input {
  width: 96%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#mainContent {
  position: relative;
  width: 100%;
} 

.searchBarPosition {
  position: absolute;
  top: 10px;
  right: 5%;
  width: 20%;
}

.menuPosition {
  position: absolute;
  top: 10px;
  left: 16%;
  width: 9%;
}